.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.form-btn {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}